[Desktop Entry]
Encoding=UTF-8
Name=ParsiPay
GenericName=ParsiPay
Name[uk]=ParsiPay
Name[ru]=ParsiPay
Name[pl]=ParsiPay
Name[be]=ParsiPay
Name[de]=ParsiPay
Name[es]=ParsiPay
Comment=ParsiCoin wallet
Comment[uk]=Гаманець ParsiCoin
Comment[ru]=Кошелек ParsiCoin
Comment[pl]=Portfel ParsiCoin
Comment[be]=Кашалёк ParsiCoin
Comment[de]=ParsiCoin Brieftasche
Comment[es]=ParsiCoin Monedero
Exec=parsipay %U
Terminal=false
Type=Application
Icon=parsicoin
MimeType=x-scheme-handler/parsicoin;
Categories=Office;Finance;
Version=3.0.2
