[Desktop Entry]
Encoding=UTF-8
Name=ParsiPay
GenericName=ParsiPay
Name[uk]=ParsiPay
Name[ru]=ParsiPay
Name[pl]=ParsiPay
Name[be]=ParsiPay
Name[de]=ParsiPay
Name[es]=ParsiPay
Comment=ParsiCoin GUI wallet
Comment[uk]=ParsiCoin GUI wallet
Comment[ru]=ParsiCoin GUI wallet
Comment[pl]=ParsiCoin GUI wallet
Comment[be]=ParsiCoin GUI wallet
Comment[de]=ParsiCoin GUI wallet
Comment[es]=ParsiCoin GUI wallet
Exec=parsipay %U
Terminal=false
Type=Application
Icon=parsicoin
MimeType=x-scheme-handler/parsicoin;
Categories=Office;Finance;
Version=2.0.0
